body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}